@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

$title-font : 'PT Sans', sans-serif;
$text-font: 'Asap', sans-serif;
$first-color: #4919ae;
$second_color: #f7cf49;

$background-color-nav: lighten($first-color,30%);
$form-color: #ede7f6;

$body-color: #f5f5f5;
$font-color: #323137;
$box-shadow: rgba(0, 0, 0, 0.15);