@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

$title-font : 'PT Sans', sans-serif;
$text-font: 'Asap', sans-serif;
$first-color: #4919ae;
$second_color: #f7cf49;