@import "~bootstrap";
@import "partials/_vars";
@import "partials/_nav";
@import "partials/_security";
@import "partials/_member_form";
@import "partials/_calendar";
@import "partials/_admin";
@import "partials/_trombi";

body {
    background-color: $body-color;
}

h1 {
    color: $font-color;
    font-size: 2em;
}


