{% extends 'layout.html.twig' %}

{% block title %}Modifier l'événement{% endblock %}

{% block body %}
<div class="container-fluid p-5">
  <h1>Modifier l'événement</h1>
  <div class="mb-3">
    <a href="{{ path('booking_index') }}" class="btn btn-outline-dark mr-5">Retour à la liste</a>
  </div>
   <div class="mt-5">
    {{ include('booking/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
   </div>
</div>
{% endblock %}
