{% extends 'layout.html.twig' %}

{% block title %}Edit Conduct{% endblock %}

{% block body %}
    <h1>Edit Conduct</h1>

    {{ include('conduct/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conduct_index') }}">back to list</a>

    {{ include('conduct/_delete_form.html.twig') }}
{% endblock %}
