<html>
    <head>
        <meta charset="UTF-8">
        <title>Droit à l'image</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"/>
    </head>
    <body>
        <h4 class="text-center m-5">DROIT À L'IMAGE</h4>
        <div class="m-5">
            {% if online_form.hasAgreedPhoto == true %}
                <p>- j’accepte que le CLUB SPORTIF TEST utilise des photographies de groupe prises lors des activités du Club sur lesquelles je pourrais figurer.</p>
            {% else %}
                <p>- je n’accepte pas que le CLUB SPORTIF TEST utilise des photographies de groupe prises lors des
                    activités du Club sur lesquelles je pourrais figurer.</p>
            {% endif %}
            <p>Le
                {{ online_form.date|format_datetime('full', 'none', locale='fr') }}</p>

            <p>Signature</p>
            <img src="{{ absolute_url(vich_uploader_asset(online_form, 'imageFile')) }}" alt="{{ online_form.imageName }}" style="width:150px;">
        </div>
    </body>
</html>
