{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
<div class="container-fluid p-5">
  <h1>Modifier la catégorie</h1>
  <div class="mb-3">
   </div>
   <div class="mt-5">
    <a href="{{ path('category_index') }}" class="btn btn-outline-dark mr-5">Retour à la liste</a>
    {{ include('admin/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
 </div>
</div>
{% endblock %}
