{% extends "base.html.twig" %}

{% block layout %}
   <div class="row">
        <header class="col-lg-2">
            {% block header %}{% include '_nav.html.twig' %}{% endblock %}
        </header>
        <main class="col-lg-10">
            {% block body %}{% endblock %}
        </main>
    </div>
{% endblock %}

