{% extends "base.html.twig" %}

{% block layout %}
<div class="container-fluid p-0">
   <div class="row no-gutters">
        <header class="col-lg-2 sidenavUser justify-content-center p-0">
            {% block header %}{% include '_nav.html.twig' %}{% endblock %}
        </header>
        <main class="col-lg-10">
            {% include '_flash_message.html.twig' %}
            {% block body %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

