<div class="mt-5 col-6">
    {{ form_start(form) }}
    {{ form_row(form.member) }}
        {% if form_errors(form.imageFile) %}
            <p id="displayVich" style="padding-top: 68px;"></p>
        {% else %}
            <p id="displayVich">
        {% endif %}
    {{ form_row(form.imageFile) }}
    <button class="btn btn-lg btn-primary mt-2">Envoyer</button>
    {{ form_end(form) }}
</div>
