{% extends 'layout.html.twig' %}

{% block title %}Compte rendu
{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Compte rendu: {{ report.title }}</h1>
        <div class="d-flex mb-3">
            <a href="{{ path('app_document') }}" class="btn btn-secondary mr-5">Retour à mes documents</a>
        </div>
        <embed src="{{ vich_uploader_asset(report, 'imageFile') }}" width="1000" height="700" type='application/pdf'>
    </div>
{% endblock %}
